@use 'variables' as v;
@use'sass:color';

%hover-text-black {
    :hover{
        color: v.$color-black;
        transition-duration: 0.3s;
    }
}

%hover-icon-black {
    :hover{
        fill: v.$color-black;
        transition-duration: 0.3s;
    }
}

