$color-white: #FFFFD6;
$color-primary: #E6754B;
$color-accent: #54A05F;

$media_xxl: 1440px;
$media_xl: 1200px;
$media_l: 1068px;
$media_m: 992px;
$media_s: 768px;
$media_xs: 576px;
$media_min: 420px;

